html,body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
@media(prefers-color-scheme:dark){
    p{color:rgba(255,255,255,.8)}
}
@media(prefers-color-scheme:light){
    p{color:rgba(0,0,0,.54)}
}
p{
    margin: 0;
    cursor: default;
}
#dragBar{
    position: fixed;
    height: 15vh;
    width: 100vw;
}
.mode{display: none}
#hintText1{
    font-weight: bold;
    text-align: center;
    font-size: calc(10vw + 5vh);
    padding-top: calc(50vh - 10vw);
}
.hintText{
    height: 15vh;
    font-size: calc(4vw + 2vh);
    padding-top: 5vh;
    padding-left: 5vw;
}
.className{
    font-weight: bold;
    font-size: calc(10vw + 5vh);
    text-align: center;
}
.classTime{
    font-size: calc(4vw + 2vh);
    text-align: center;
}
.nextClass{
    font-size: calc(3vw + 1.5vh);
    text-align: right;
}
#normalEvent3{display: block}